// a specific variable file for easy access and changes made to the color pallete
$white: #ffffff;
$black: #000000;
$green: #27a338;

$error: #ff5252;
$background: #293241;

$dark-1: #1f2631;
$light-1: #384558;
$light-2: #2a3342;
